@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    margin: 5rem;
}

.img{
    width: 500px;
    height: 500px;
   margin-left: 550px;
}

.art{
    display: flexbox;
    margin-left: auto;
    margin: 10px;
    font-family: sans-serif;


    p{
        padding: 5px;
    }

   h1{
    padding-left: 15px;
    font-size: 30px;
   }

}

.foot{
    background-color: #610f75;
    color: #fff;
    gap: 10px;
    width: 100%;
    display: flex;
   
  }
  
  
  
  .ft{
    font-family: montserrat,sans-serif;
    font-size: 55px;
    font-weight: 200;
    display: grid;
    margin-left: 80%;
    margin: 15%;
  }
  
  
  .p{
    font-family: montserrat,sans-serif;
    font-size: 20px;
    font-weight: 200;
    display: grid;
    margin-left: -500px;
    margin: 15%;
  }


  figcaption{
    font-size: small;
    padding-left:950px;
  }

  .bx bx-arrow-back{
    font-size: large;
  }

  .btn{
    margin-left: 1850px;
    margin-top: -1000px;
    border-radius: 4px;
    
  
  }

@media (max-width:600px){

    html,body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
      }

.img{
       width:180px;
       height:180px;
       margin-left:110px
}

.foot{
    padding: 4%;
    width: 100%;
  }
  
  .diva{
       margin-left: -5%;
       width: 40%;
  }
  
  .ft .p
  {
    width: 10px;
    margin-top: -80px;
    padding-top: -80px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    margin-left: -50px;
  }

  figcaption{
    font-size: small;
    padding-left: 200px;
  }

  .btn{
    margin-left: 350px;
    margin-top: -1000px;
    border-radius: 4px;
    
  
  }

}